<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/global.css" />

</head>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    
  </style>
</head>


<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  text-align: left;
}

.navbar a {
  text-align: left;
  float: left;
  padding: 4px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.topnav-right {
  float: right;
}
a {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 120px;
    margin: 5px;
}
</style>
<body>
  <div class="topnav">
  <div class="navbar">
    <a class="" href="{% url "index" %}"><i class="fa fa-fw fa-" ></i> VC</a>

    <div class="topnav-right">
    <a class="" href="{% url "index" %}"><i class="fa fa-fw fa-home" ></i> Home</a> 
    <a href="{% url "Current_Investors" %}"><i class="fa fa-fw fa-" ></i> Current_Investors</a>
    <a href="{% url "Apply_for_Funding" %}"><i class="fa fa-fw fa-" style="margin: 5px"></i> Apply for Funding</a>
    <a href="{% url "Pending_deals1" %}"><i class="fa fa-fw fa-" ></i> Pending deals</a>
     
    <a href="{% url "Notifications1" %}"><i class="fa fa-bell"  ></i> Notifications</a>

    <a href="{% url "Profile1" %}"><i class="fa fa-user" ></i> Profile</a>
    

  </div>
  </div>
</div>
</body>
</html> 


<body>




    <section class=" container-fluid">
        <section class="col-19 col-sm-17 col-md-17">

            <form class="form-container">
                <div>
                  
                    <p>&nbsp;</p> 
                    <h1 style="text-align: center;"></h1>
                    <hr>
                    
                        <h3>Name Of Startup</h3>
              <h>-</h>
            
              <!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
table {
  border-spacing: 1em .5em;
  padding: 0 2em 1em 0;
  border: 1px solid orange;
  
}
</style>
</head>

<div class="absolute">
<table  border="1" 
align="right"  style="width:40%">
  <tr><th>Amount Raised Till Date</th><td></td></tr>
  <tr></tr><th>No. of investors</th><td></td></tr>
  <tr></tr><th>Minimum Bid Amount </th><td></td></tr>
  <tr></tr><th>Minimum Valuation</th><td></td></tr>
  <tr></tr><th>No. Of Days Left</th><td></td></tr>
</table>
</div>
  
  <h3>Company Vision and Mission</h3>
   <h>-</h>
   
   <h>-</h>
   <h>-</h>
   <h>-</h>
   <h>-</h>

<h3>Problem and solution</h3>
<h>-</h>
Which. Set have Shall shall. Fish darkness grass moving fowl Fruitful his. Under. Hath there every very, thing to itself second seasons make isn't yielding you beginning, void one isn't signs us brought lights.

Image tree gathering, waters darkness without great don't grass very over saw divide very so you'll moved evening set don't him she'd every doesn't 
<h>-</h>
<h3>Business plan/ Pitch Deck </h3>
<p>Isn't which bearing is. For saying Greater over yielding blessed face sixth living moving moved don't fifth itself itself bearing place. Creepeth moveth brought also his seas.

  She'd it fifth don't may given for herb can't gathered night in every moveth first. A that air. A blessed from very. You'll fruitful behold multiply a blessed also to life don't they're likeness fowl. Of was.
  
  Made subdue under also forth their. Doesn't of signs which forth subdue darkness fill You, dominion dominion morning one fill man can't i morning it moving may abundantly. Behold she'd his was one a. Waters form.</p>
<h3>Video Content</h3>
<h>-</h>
<h3>Projections and Future</h3>
p>Isn't which bearing is. For saying Greater over yielding blessed face sixth living moving moved don't fifth itself itself bearing place. Creepeth moveth brought also his seas.

  She'd it fifth don't may given for herb can't gathered night in every moveth first. A that air. A blessed from very. You'll fruitful behold multiply a blessed also to life don't they're likeness fowl. Of was.
  
  Made subdue under also forth their. Doesn't of signs which forth subdue darkness fill You, dominion dominion morning one fill man can't i morning it moving may abundantly. Behold she'd his was one a. Waters form.</p>
<h3>Risk Assessment </h3>
<h>-</h>
<h3>Prior Rounds Details </h3>
p>Isn't which bearing is. For saying Greater over yielding blessed face sixth living moving moved don't fifth itself itself bearing place. Creepeth moveth brought also his seas.

  She'd it fifth don't may given for herb can't gathered night in every moveth first. A that air. A blessed from very. You'll fruitful behold multiply a blessed also to life don't they're likeness fowl. Of was.
  
  Made subdue under also forth their. Doesn't of signs which forth subdue darkness fill You, dominion dominion morning one fill man can't i morning it moving may abundantly. Behold she'd his was one a. Waters form.</p>
<h3>Details of the Proposed Term sheet </h3>
<h>I. Fundraising Description </h>
<h>II. Complete term sheet should be available in a scrollable form</h>
<h3>Company Financials </h3>
p>Isn't which bearing is. For saying Greater over yielding blessed face sixth living moving moved don't fifth itself itself bearing place. Creepeth moveth brought also his seas.

  She'd it fifth don't may given for herb can't gathered night in every moveth first. A that air. A blessed from very. You'll fruitful behold multiply a blessed also to life don't they're likeness fowl. Of was.
  
  Made subdue under also forth their. Doesn't of signs which forth subdue darkness fill You, dominion dominion morning one fill man can't i morning it moving may abundantly. Behold she'd his was one a. Waters form.</p>
<h3>Discussion Forum  </h3>
p>Isn't which bearing is. For saying Greater over yielding blessed face sixth living moving moved don't fifth itself itself bearing place. Creepeth moveth brought also his seas.

  She'd it fifth don't may given for herb can't gathered night in every moveth first. A that air. A blessed from very. You'll fruitful behold multiply a blessed also to life don't they're likeness fowl. Of was.
  
  Made subdue under also forth their. Doesn't of signs which forth subdue darkness fill You, dominion dominion morning one fill man can't i morning it moving may abundantly. Behold she'd his was one a. Waters form.</p>


                  
        
                      <!DOCTYPE html>
        <html>
        <head>
        <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
        table {
          border-spacing: 1em .5em;
          padding: 0 2em 1em 0;
          border: 1px solid orange;
          
        }
        </style>
        </head>
        <body>
        </html>
        </body>
                    </html>
                              
               
            </form>

        </section>
    </section>





</body>
</html>